Power Apps/Solutions/Dev/Unzipped/Smart Sales Tracker/Workflows/EventsInfo-08327B12-7565-F011-BEC3-000D3ACA48B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_approvals": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gd_sharedapprovals_df664"
        },
        "api": {
          "name": "shared_approvals"
        }
      },
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gd_sharedsharepointonline_70877"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_an_item_is_created_or_modified": {
          "recurrence": {
            "interval": 5,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "operationMetadataId": "e58865e9-95f6-4cb3-a682-b5d6e3201774"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "dataset": "https://labskraft27.sharepoint.com/sites/GuruCompany",
              "table": "d41cc278-0bf7-4e73-b567-20d2876db307"
            },
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetOnUpdatedItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "authentication": "@parameters('$authentication')"
          },
          "conditions": [
            {
              "expression": "@equals(triggerBody()?['Status']?['Value'], 'Pending')"
            }
          ]
        }
      },
      "actions": {
        "Start_and_wait_for_an_approval": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "7e065d09-bf57-47c4-8240-a3ce0a81d6a2"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "approvalType": "Basic",
              "WebhookApprovalCreationInput/title": "Event Approval for @{triggerOutputs()?['body/Title']}",
              "WebhookApprovalCreationInput/assignedTo": "@{triggerOutputs()?['body/AssignedTo/Email']};",
              "WebhookApprovalCreationInput/details": "Session Name: @{triggerOutputs()?['body/SessionName']}\n\nStart Date: @{triggerBody()?['StartDate']}\n\nEnd Date: @{triggerBody()?['EndDate']}",
              "WebhookApprovalCreationInput/enableNotifications": true,
              "WebhookApprovalCreationInput/enableReassignment": true
            },
            "host": {
              "connectionName": "shared_approvals",
              "operationId": "StartAndWaitForAnApproval",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_approvals"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Decisions_Taken": {
          "runAfter": {
            "Start_and_wait_for_an_approval": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b3ad0674-45ce-4f29-bea2-95421b3a4537"
          },
          "type": "Compose",
          "inputs": "@int(add(triggerOutputs()?['body/DecisionsTaken'], 1))"
        },
        "Condition": {
          "actions": {
            "Update_item": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8e4e09c4-3a3e-4d50-ae64-0f98492eff74"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "dataset": "https://labskraft27.sharepoint.com/sites/GuruCompany",
                  "table": "d41cc278-0bf7-4e73-b567-20d2876db307",
                  "id": "@triggerBody()?['ID']",
                  "item/SessionName": "@triggerOutputs()?['body/SessionName']",
                  "item/SessionCode": "@triggerOutputs()?['body/SessionCode']",
                  "item/StartDate": "@triggerOutputs()?['body/StartDate']",
                  "item/EndDate": "@triggerOutputs()?['body/EndDate']",
                  "item/Approvers": [],
                  "item/Status/Value": "@if(equals(length(triggerOutputs()?['body/Approvers']), outputs('Decisions_Taken')), 'Approved', 'Pending')",
                  "item/AssignedTo/Claims": "@if(equals(length(triggerBody()?['Approvers']), outputs('Decisions_Taken')), triggerBody()?['AssignedTo/Claims'], triggerBody()?['Approvers']?[outputs('Decisions_Taken')]?['Claims'])",
                  "item/DecisionsTaken": "@outputs('Decisions_Taken')",
                  "item/ApprovalHistory": "@{triggerBody()?['ApprovalHistory']}\n------------------------------------------\n🟢 Approved By @{outputs('start_and_wait_for_an_approval')?['body']?['responses'][0]?['responder']?['displayName']}\n\nComments (if any): @{outputs('start_and_wait_for_an_approval')?['body']?['responses'][0]?['comments']}"
                },
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PatchItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_1": {
              "actions": {
                "Send_an_HTTP_request_to_SharePoint": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "a0441fb8-cfd5-4bb8-834b-8d3ff5d8bcc1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "dataset": "https://labskraft27.sharepoint.com/sites/GuruCompany",
                      "parameters/method": "POST",
                      "parameters/uri": "_api/web/lists/getbytitle('Events Info')/items(@{triggerBody()?['ID']})",
                      "parameters/headers": {
                        "Content-Type": "application/json; odata=verbose",
                        "Accept": "application/json; odata=verbose",
                        "IF-MATCH": "*",
                        "X-HTTP-Method": "MERGE"
                      },
                      "parameters/body": "{\n\"__metadata\": {\"type\": \"SP.Data.Events_x0020_InfoListItem\"},\n\"AssignedToId\": \"-1\"\n}"
                    },
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "Update_item": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@equals(length(outputs('Update_item')?['body/Approvers']), outputs('Decisions_Taken'))",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "799a9179-ff53-498a-b871-5be894930353"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Decisions_Taken": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Update_item_1": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "8e4e09c4-3a3e-4d50-ae64-0f98492eff74"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "dataset": "https://labskraft27.sharepoint.com/sites/GuruCompany",
                    "table": "d41cc278-0bf7-4e73-b567-20d2876db307",
                    "id": "@triggerBody()?['ID']",
                    "item/SessionName": "@triggerOutputs()?['body/SessionName']",
                    "item/SessionCode": "@triggerOutputs()?['body/SessionCode']",
                    "item/StartDate": "@triggerOutputs()?['body/StartDate']",
                    "item/EndDate": "@triggerOutputs()?['body/EndDate']",
                    "item/Approvers": [],
                    "item/Status/Value": "Rejected",
                    "item/DecisionsTaken": "@outputs('Decisions_Taken')",
                    "item/ApprovalHistory": "@{triggerBody()?['ApprovalHistory']}\n------------------------------------------\n🔴 Rejected By @{outputs('start_and_wait_for_an_approval')?['body']?['responses'][0]?['responder']?['displayName']}\n\nComments (if any): @{outputs('start_and_wait_for_an_approval')?['body']?['responses'][0]?['comments']}"
                  },
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "PatchItem",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Send_an_HTTP_request_to_SharePoint_1": {
                "runAfter": {
                  "Update_item_1": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "00e1b956-831c-40bc-a48f-7991432c692a"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "parameters": {
                    "dataset": "https://labskraft27.sharepoint.com/sites/GuruCompany",
                    "parameters/method": "POST",
                    "parameters/uri": "_api/web/lists/getbytitle('Events Info')/items(@{triggerBody()?['ID']})",
                    "parameters/headers": {
                      "Content-Type": "application/json; odata=verbose",
                      "Accept": "application/json; odata=verbose",
                      "IF-MATCH": "*",
                      "X-HTTP-Method": "MERGE"
                    },
                    "parameters/body": "{\n\"__metadata\": {\"type\": \"SP.Data.Events_x0020_InfoListItem\"},\n\"AssignedToId\": \"-1\"\n}"
                  },
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "HttpRequest",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@outputs('Decisions_Taken')",
              "Approve"
            ]
          },
          "metadata": {
            "operationMetadataId": "2255dadd-b632-4a57-8402-1f1ea69681ba"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}