Power Apps/Solutions/Dev/Unzipped/Smart Sales Tracker/Workflows/WelcomeMailProject-FE7C9B00-2167-F011-B4CC-000D3ACA48B7.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "marv_Office365Outlookconnection"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "gd_sharedcommondataserviceforapps_59ec5"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "5cd779ac-bc6a-4926-95d8-189e3f80edb4"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 1,
              "subscriptionRequest/entityname": "gd_userdata",
              "subscriptionRequest/scope": 2
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Condition": {
          "actions": {
            "Send_an_email_(V2)_1": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4539544b-fb58-4289-989c-3c9558f3b26d"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                  "connectionName": "shared_office365",
                  "operationId": "SendEmailV2"
                },
                "parameters": {
                  "emailMessage/To": "@triggerOutputs()?['body/gd_email']",
                  "emailMessage/Subject": "Welcome to the Smart Sales Report App – Let’s Get Started!",
                  "emailMessage/Body": " <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333333;\n      background-color: #f4f4f4;\n      padding: 20px;\n    }\n    .email-container {\n      background-color: #ffffff;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n      max-width: 650px;\n      margin: auto;\n    }\n    h2 {\n      color: #2c3e50;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    li {\n      margin-bottom: 6px;\n    }\n    .role-section {\n      margin-top: 20px;\n      background-color: #f9f9f9;\n      padding: 15px;\n      border-left: 4px solid #0078D4;\n      border-radius: 4px;\n    }\n    .footer {\n      font-size: 12px;\n      color: #888888;\n      margin-top: 30px;\n    }\n    .emoji {\n      font-size: 1.2em;\n    }\n  </style>\n\n\n  <div class=\"email-container\">\n    <p>Hi @{triggerOutputs()?['body/gd_name']} , <span class=\"emoji\">👋</span></p>\n\n    <p>\n      Welcome aboard! You’ve been successfully registered to the <strong>Smart Sales Report App</strong> – your new hub for streamlined sales tracking, team collaboration, and performance insights.\n    </p>\n\n    <p>As a <strong>@{triggerOutputs()?['body/gd_role']}</strong>, here's how you’ll use the app to drive efficiency and results:</p>\n\n  <div class=\"role-section\">\n    <strong class=\"emoji\">🔹 Your Role: Sales Rep</strong>\n  <p>Stay on top of your game with our intuitive daily workflow:</p>\n  <ul>\n    <li>Log in and plan your daily visits</li>\n    <li>Record detailed order info at each outlet (product, quantity, price)</li>\n    <li>Check stock availability instantly</li>\n    <li>Submit a daily sales report in just a few taps</li>\n    <li>Monitor your progress with your personal performance dashboard</li>\n  </ul>\n\n  </div>\n\n\n    <p><strong>🔧 Need Help Getting Started?</strong>\n\n    We’ve got you covered with detailed onboarding guides and support.\n\n<br>\n\n    📘 <a href=\"https://i3l-my.sharepoint.com/:w:/r/personal/64012_itcinfotech_com/Documents/Smart%20Sales%20Tracker%20%26%20Automated%20Reporting%20System.docx?d=webbda1c46b1a47fa83af1d87c82574c7&amp;csf=1&amp;web=1&amp;e=4ADn5D\">User Guide</a>\n<br>\n\n    🛠️ <strong>Support:</strong> 044-1234567</p>\n\n    <p>\n      We’re excited to have you with us. Let’s power up your productivity and sales performance!\n    </p>\n\n    <p>Best regards,\n<br>\n\n    <strong>The Smart Sales Report App</strong>\n<br>\n\n    TeamABC Pvt. Ltd.</p>\n\n    <div class=\"footer\">\n      <p><small>This is an automated message. Please do not reply directly to this email.</small></p>\n    </div>\n  </div>\n",
                  "emailMessage/Importance": "Normal"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "Condition_1": {
                "actions": {
                  "Send_an_email_(V2)_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "4539544b-fb58-4289-989c-3c9558f3b26d"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2"
                      },
                      "parameters": {
                        "emailMessage/To": "@triggerOutputs()?['body/gd_email']",
                        "emailMessage/Subject": "Welcome to the Smart Sales Report App – Let’s Get Started!",
                        "emailMessage/Body": " <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333333;\n      background-color: #f4f4f4;\n      padding: 20px;\n    }\n    .email-container {\n      background-color: #ffffff;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n      max-width: 650px;\n      margin: auto;\n    }\n    h2 {\n      color: #2c3e50;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    li {\n      margin-bottom: 6px;\n    }\n    .role-section {\n      margin-top: 20px;\n      background-color: #f9f9f9;\n      padding: 15px;\n      border-left: 4px solid #0078D4;\n      border-radius: 4px;\n    }\n    .footer {\n      font-size: 12px;\n      color: #888888;\n      margin-top: 30px;\n    }\n    .emoji {\n      font-size: 1.2em;\n    }\n  </style>\n\n\n  <div class=\"email-container\">\n    <p>Hi @{triggerOutputs()?['body/gd_name']} , <span class=\"emoji\">👋</span></p>\n\n    <p>\n      Welcome aboard! You’ve been successfully registered to the <strong>Smart Sales Report App</strong> – your new hub for streamlined sales tracking, team collaboration, and performance insights.\n    </p>\n\n    <p>As a <strong>@{triggerOutputs()?['body/gd_role']}</strong>, here's how you’ll use the app to drive efficiency and results:</p>\n\n    <div class=\"role-section\">\n       <strong class=\"emoji\">🔹 Your Role: Manager</strong>\n  <p>Lead with data and make faster decisions:</p>\n  <ul>\n    <li>Access your team’s real-time sales dashboard</li>\n    <li>Approve visit plans or special discount requests on the go</li>\n    <li>Get automated alerts when performance deviates</li>\n    <li>Share insights with built-in feedback options</li>\n  </ul>\n\n    </div>\n\n\n    <p><strong>🔧 Need Help Getting Started?</strong>\n\n    We’ve got you covered with detailed onboarding guides and support.\n<br>\n\n\n    📘 <a href=\"https://i3l-my.sharepoint.com/:w:/r/personal/64012_itcinfotech_com/Documents/Smart%20Sales%20Tracker%20%26%20Automated%20Reporting%20System.docx?d=webbda1c46b1a47fa83af1d87c82574c7&amp;csf=1&amp;web=1&amp;e=4ADn5D\">User Guide</a>\n<br>\n\n    🛠️ <strong>Support:</strong> 044-1234567</p>\n\n    <p>\n      We’re excited to have you with us. Let’s power up your productivity and sales performance!\n    </p>\n\n    <p>Best regards,\n<br>\n\n    <strong>The Smart Sales Report App</strong>\n<br>\n\n    TeamABC Pvt. Ltd.</p>\n\n    <div class=\"footer\">\n      <p><small>This is an automated message. Please do not reply directly to this email.</small></p>\n    </div>\n  </div>\n",
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {},
                "else": {
                  "actions": {
                    "Send_an_email_(V2)_3": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "4539544b-fb58-4289-989c-3c9558f3b26d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                          "connectionName": "shared_office365",
                          "operationId": "SendEmailV2"
                        },
                        "parameters": {
                          "emailMessage/To": "@triggerOutputs()?['body/gd_email']",
                          "emailMessage/Subject": "Welcome to the Smart Sales Report App – Let’s Get Started!",
                          "emailMessage/Body": " <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333333;\n      background-color: #f4f4f4;\n      padding: 20px;\n    }\n    .email-container {\n      background-color: #ffffff;\n      padding: 30px;\n      border-radius: 8px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.05);\n      max-width: 650px;\n      margin: auto;\n    }\n    h2 {\n      color: #2c3e50;\n    }\n    ul {\n      padding-left: 20px;\n    }\n    li {\n      margin-bottom: 6px;\n    }\n    .role-section {\n      margin-top: 20px;\n      background-color: #f9f9f9;\n      padding: 15px;\n      border-left: 4px solid #0078D4;\n      border-radius: 4px;\n    }\n    .footer {\n      font-size: 12px;\n      color: #888888;\n      margin-top: 30px;\n    }\n    .emoji {\n      font-size: 1.2em;\n    }\n  </style>\n\n\n  <div class=\"email-container\">\n    <p>Hi @{triggerOutputs()?['body/gd_name']} , <span class=\"emoji\">👋</span></p>\n\n    <p>\n      Welcome aboard! You’ve been successfully registered to the <strong>Smart Sales Report App</strong> – your new hub for streamlined sales tracking, team collaboration, and performance insights.\n    </p>\n\n    <p>As a <strong>@{triggerOutputs()?['body/gd_role']}</strong>, here's how you’ll use the app to drive efficiency and results:</p>\n\n      <div class=\"role-section\">\n        <strong class=\"emoji\">🔹 Your Role: Admin</strong>\n  <p>Stay in control with robust management tools:</p>\n  <ul>\n    <li>Add or remove users via Power Platform Admin Center</li>\n    <li>Define access levels with Dataverse security roles</li>\n    <li>Monitor performance logs and maintain app health</li>\n    <li>Manage and update master data efficiently</li>\n  </ul>\n      </div>\n    \n\n\n    <p><strong>🔧 Need Help Getting Started?</strong>\n\n    We’ve got you covered with detailed onboarding guides and support.\n\n<br>\n\n    📘 <a href=\"https://i3l-my.sharepoint.com/:w:/r/personal/64012_itcinfotech_com/Documents/Smart%20Sales%20Tracker%20%26%20Automated%20Reporting%20System.docx?d=webbda1c46b1a47fa83af1d87c82574c7&amp;csf=1&amp;web=1&amp;e=4ADn5D\">User Guide</a>\n<br>\n\n    🛠️ <strong>Support:</strong> 044-1234567</p>\n\n    <p>\n      We’re excited to have you with us. Let’s power up your productivity and sales performance!\n    </p>\n\n    <p>Best regards,\n<br>\n\n    <strong>The Smart Sales Report App</strong>\n<br>\n\n    TeamABC Pvt. Ltd.</p>\n\n    <div class=\"footer\">\n      <p><small>This is an automated message. Please do not reply directly to this email.</small></p>\n    </div>\n  </div>\n",
                          "emailMessage/Importance": "Normal"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  }
                },
                "expression": {
                  "and": [
                    {
                      "equals": [
                        "@triggerOutputs()?['body/gd_role']",
                        "Manager"
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c2f7c504-3da4-4549-88cc-ee63bf6acab2"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@triggerOutputs()?['body/gd_role']",
                  "Sales Represntative"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "36018bcc-2117-466c-9f51-9c1aeac1dea4"
          },
          "type": "If"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}